<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOf0U8BkL6cjS_b0def5gewXcnLw_loA4</string>
	<key>GCM_SENDER_ID</key>
	<string>447961271413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.micro.star.carbnb</string>
	<key>PROJECT_ID</key>
	<string>carbnb-1a5e4</string>
	<key>STORAGE_BUCKET</key>
	<string>carbnb-1a5e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447961271413:ios:3e7b12149a03289d447c3c</string>
</dict>
</plist>